/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto');

 *{
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(237, 239, 242) ; */
 }

 html{
    background-color: rgb(237, 239, 242);
 }

 nav{
    color: black;
    background-color: white;
    height: 10%;
    border-bottom: 0.1px solid rgb(220, 224, 229);
    text-align: center;
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
}
.addBtn{
    color: rgb(0,122,255);
    grid-area: c;
    
}

.deleteBtn{
    color: rgb(0,122,255);
    
    
}

nav>h1{
    grid-area: b;
}

.cancelBtn{
    color: rgb(0,122,255);
    grid-area: a;
    
}

.saveBtn{
    color: rgb(0,122,255);
    grid-area: c;
}

.noBtn{
    color: rgb(0,122,255);
}

.yesBtn{
    color: rgb(0,122,255);
    border-left: 0.1px solid rgb(220, 224, 229);
}

.page{
    display: none;
}

.active{
    display: block;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 200;
    top: 20%;
    left: 20%;
    right: 20%;
    height: 30vh;
    width: 70vw;
    background-color: #e4e4e4;
    padding: 0.5rem;
    /* padding: 1rem 2rem 3rem 2rem; */
    box-shadow: 2px 2px 2px rgb(0, 0 0);
    border-radius: 10px;
    text-align: center;
    font-size: 1.411em;
    transition: transform 1s;

}
.modal>p{
    border-bottom: 0.1px solid rgb(220, 224, 229);
}

.modal>a{
    max-width: 400px;
}





.off {
    transform: translateY(-200%);
}

.on {
    transform: translateY(0);
}

